Repository wahid-racheh/angular-ngrx-dynamic-form-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc:

{
  "*.{ts,json,md,scss,html}": [
    "prettier --write",
    "git add"
  ],
  "*.ts": [
    "tslint --fix",
    "git add"
  ],
  "*.scss": [
    "git add"
  ]
}

chore(dynamic-form): add dynamic form module & update pages
  src/app/demo/components/customer-address/customer-address.component.html
  src/app/demo/components/customer-address/customer-address.component.scss
  src/app/demo/components/customer-address/customer-address.component.ts
  src/app/demo/components/customer-address/customer-address.stories.ts
  src/app/demo/components/customer-details/customer-details.component.html
  src/app/demo/components/customer-details/customer-details.component.ts
  src/app/demo/components/product-form-container.component.html
  src/app/demo/components/product-form-container/product-form-container.component.html
  src/app/demo/components/product-form-container/product-form-container.component.ts
  src/app/demo/components/product-list/product-list.component.html
  src/app/demo/components/product-list/product-list.component.ts
  src/app/demo/components/selected-product-viewer/selected-product-viewer.component.html
  src/app/demo/components/selected-product-viewer/selected-product-viewer.component.ts
  src/app/demo/demo.module.ts
  src/app/demo/services/product-form.service.spec.ts
  src/app/demo/services/product-form.service.ts
  src/app/demo/services/product-loader.service.ts
  src/app/shared/forms/+store/forms.actions.ts
  src/app/shared/forms/+store/forms.facade.ts
  src/app/shared/forms/+store/forms.reducer.ts
  src/app/shared/forms/+store/forms.selectors.ts
  src/app/shared/forms/components/checkbox-group/checkbox-group.component.html
  src/app/shared/forms/components/checkbox-group/checkbox-group.component.scss
  src/app/shared/forms/components/checkbox-group/checkbox-group.component.ts
  src/app/shared/forms/components/form-container/form-content.component.html
  src/app/shared/forms/components/form-container/form-content.component.ts
  src/app/shared/forms/components/form-container/form-content.stories.ts
  src/app/shared/forms/components/form-control-group/form-control-group.component.html
  src/app/shared/forms/components/text-input/text-input.component.ts
  src/app/shared/forms/forms.module.ts
  src/app/shared/forms/helpers/form-helpers.ts
  src/app/shared/forms/interfaces/types.ts
  src/assets/i18n/en.json
  src/assets/i18n/fr.json
Due: prettier --write, tslint --fix

chore(custom-template): add custom template control
  src/app/demo/components/customer-address/customer-address.component.html
  src/app/demo/components/customer-address/customer-address.component.ts
  src/app/demo/components/product-form-container/product-form-container.component.html
  src/app/demo/components/product-form-container/product-form-container.component.ts
  src/app/demo/components/product-list/product-list.component.ts
  src/app/demo/components/selected-product-viewer/selected-product-viewer.component.html
  src/app/demo/components/selected-product-viewer/selected-product-viewer.component.ts
  src/app/demo/demo.module.ts
  src/app/demo/services/product-form.service.ts
  src/app/shared/forms/+store/forms.actions.ts
  src/app/shared/forms/+store/forms.facade.spec.ts
  src/app/shared/forms/+store/forms.facade.ts
  src/app/shared/forms/+store/forms.reducer.ts
  src/app/shared/forms/+store/forms.selectors.ts
  src/app/shared/forms/classes/form-config.class.ts
  src/app/shared/forms/components/array/array.stories.ts
  src/app/shared/forms/components/auto-complete/auto-complete.component.ts
  src/app/shared/forms/components/checkbox-group/checkbox-group.component.ts
  src/app/shared/forms/components/custom-template/custom-template.component.ts
  src/app/shared/forms/components/date-picker/date-picker.component.ts
  src/app/shared/forms/components/form-container/form-content.component.ts
  src/app/shared/forms/components/form-container/form-content.stories.ts
  src/app/shared/forms/components/form-control-field/form-control-field.component.html
  src/app/shared/forms/components/form-control-field/form-control-field.component.ts
  src/app/shared/forms/components/form-control-field/form-control-field.stories.ts
  src/app/shared/forms/components/form-control-group/form-control-group.stories.ts
  src/app/shared/forms/components/number/number.component.ts
  src/app/shared/forms/components/radio/radio.component.ts
  src/app/shared/forms/components/select/select.component.ts
  src/app/shared/forms/components/text-area/text-area.component.ts
  src/app/shared/forms/components/text-input/text-input.component.ts
  src/app/shared/forms/directives/dynamic-field/dynamic-field.directive.spec.ts
  src/app/shared/forms/directives/dynamic-field/dynamic-field.directive.ts
  src/app/shared/forms/forms.module.ts
  src/app/shared/forms/helpers/form-helpers.spec.ts
  src/app/shared/forms/helpers/form-helpers.ts
  src/app/shared/forms/interfaces/types.ts
Due: prettier --write, tslint --fix

chore(validation): add form group validations
  src/app/core/services/user/+store/user.effects.ts
  src/app/demo/components/product-form-container/product-form-container.component.html
  src/app/demo/components/product-form-container/product-form-container.component.scss
  src/app/demo/components/product-form-container/product-form-container.component.ts
  src/app/demo/components/selected-product-viewer/selected-product-viewer.component.html
  src/app/demo/components/selected-product-viewer/selected-product-viewer.component.scss
  src/app/demo/constants/demo-product-item.ts
  src/app/demo/services/product-form-validators.service.ts
  src/app/demo/services/product-form.service.ts
  src/app/demo/services/product-loader.service.spec.ts
  src/app/demo/services/product-loader.service.ts
  src/app/shared/forms/components/auto-complete/auto-complete.component.html
  src/app/shared/forms/components/auto-complete/auto-complete.component.ts
  src/app/shared/forms/components/form-container/form-content.component.ts
  src/app/shared/forms/helpers/form-helpers.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix

chore(form-page): add blank form page
  src/app/demo/components/product-form-container/product-form-container.component.html
  src/app/demo/components/selected-product-viewer/selected-product-viewer.component.html
  src/app/demo/containers/forms-page/forms-page.component.html
  src/app/demo/containers/forms-page/forms-page.component.scss
  src/app/demo/containers/forms-page/forms-page.component.ts
  src/app/demo/containers/forms-page/forms-page.stories.ts
  src/app/demo/demo-routing.module.ts
  src/app/demo/demo.module.ts
  src/app/shared/forms/components/checkbox-group/checkbox-group.component.ts
  src/app/shared/forms/components/form-container/form-content.component.ts
Due: prettier --write, tslint --fix

chore(form-page): add form page and all fields configuration
  src/app/demo/components/custom-text/custom-text.component.ts
  src/app/demo/components/custom-text/custom-text.stories.ts
  src/app/demo/components/product-form-container/product-form-container.component.html
  src/app/demo/components/product-form-container/product-form-container.component.ts
  src/app/demo/components/selected-product-viewer/selected-product-viewer.component.html
  src/app/demo/containers/forms-page/forms-page.component.html
  src/app/demo/containers/forms-page/forms-page.component.ts
  src/app/demo/demo.module.ts
  src/app/demo/services/product-form.service.ts
  src/app/shared/forms/components/array/array.component.html
  src/app/shared/forms/components/array/array.component.scss
  src/app/shared/forms/components/array/array.component.ts
  src/app/shared/forms/components/array/array.stories.ts
  src/app/shared/forms/components/checkbox-group/checkbox-group.component.scss
  src/app/shared/forms/components/radio-group/radio-group.component.html
  src/app/shared/forms/components/radio-group/radio-group.component.scss
  src/app/shared/forms/components/radio-group/radio-group.component.ts
  src/app/shared/forms/components/radio-group/radio-group.stories.ts
  src/app/shared/forms/directives/dynamic-field/dynamic-field.directive.ts
  src/app/shared/forms/forms.module.ts
  src/app/shared/forms/interfaces/types.ts
Due: prettier --write, tslint --fix

test(storybook): update stories
  angular.json
  src/app/demo/components/custom-text/custom-text.stories.ts
  src/app/demo/components/customer-address/customer-address.stories.ts
  src/app/demo/components/product-form-container.component.html
  src/app/demo/components/product-form-container/product-form-container.component.ts
  src/app/demo/components/product-form-container/product-form-container.stories.ts
  src/app/demo/components/product-list/product-list.component.html
  src/app/demo/components/selected-product-viewer/selected-product-viewer.component.ts
  src/app/demo/components/selected-product-viewer/selected-product-viewer.stories.ts
  src/app/demo/containers/demo-container/demo-container.stories.ts
  src/app/demo/containers/forms-page/forms-page.component.html
  src/app/demo/containers/forms-page/forms-page.component.ts
  src/app/demo/containers/forms-page/forms-page.stories.ts
  src/app/demo/services/product-form.service.spec.ts
  src/app/shared/forms/+store/forms.facade.spec.ts
  src/app/shared/forms/+store/forms.reducer.spec.ts
  src/app/shared/forms/components/auto-complete/auto-complete.stories.ts
  src/app/shared/forms/components/form-container/form-content.component.html
  src/app/shared/forms/components/form-container/form-content.component.ts
  src/app/shared/forms/components/form-container/form-content.stories.ts
  src/app/shared/forms/components/form-control-field/form-control-field.stories.ts
  src/app/shared/forms/components/form-control-group/form-control-group.component.html
  src/app/shared/forms/components/form-control-group/form-control-group.stories.ts
  src/app/shared/forms/directives/dynamic-field/dynamic-field.directive.ts
  src/app/shared/forms/helpers/form-helpers.ts
  src/app/shared/forms/interfaces/types.ts
  src/tests/mocks/store-mock-module.ts
Due: prettier --write, tslint --fix

chore(lint): lint ts files
  .vscode/settings.json
  src/app/demo/components/custom-text/custom-text.component.ts
  src/app/demo/components/product-form-container/product-form-container.component.ts
  src/app/demo/components/product-list/product-list.component.ts
  src/app/demo/components/selected-product-viewer/selected-product-viewer.component.ts
  src/app/demo/containers/forms-page/forms-page.component.ts
  src/app/demo/demo.module.ts
  src/app/demo/services/product-form-validators.service.ts
  src/app/demo/services/product-form.service.ts
  src/app/shared/forms/components/array/array.component.ts
  src/app/shared/forms/components/checkbox-group/checkbox-group.component.ts
  src/app/shared/forms/components/custom-template/custom-template.component.ts
  src/app/shared/forms/components/form-container/form-content.component.ts
  src/app/shared/forms/components/form-control-field/form-control-field.component.ts
  src/app/shared/forms/components/text-input/text-input.component.ts
  src/app/shared/forms/directives/dynamic-field/dynamic-field.directive.spec.ts
  src/app/shared/forms/directives/dynamic-field/dynamic-field.directive.ts
  src/app/shared/forms/forms.module.ts
  src/app/shared/forms/helpers/form-helpers.ts
  src/app/shared/forms/interfaces/types.ts
  src/tests/mocks/store-mock-module.ts
  src/tslint.json
  tslint.json
Due: prettier --write, tslint --fix

chore(navigation): add form page navigation
  src/app/shared/components/navbar/navbar.component.html
  src/app/shared/components/navbar/navbar.component.ts
Due: prettier --write, tslint --fix

chore(readme): update readme file
  README.md
  src/app/demo/services/product-form.service.ts
Due: prettier --write, tslint --fix

Update README.md
  README.md
Due: prettier --write

Set theme jekyll-theme-cayman
  _config.yml
Due: none

config(google-site-verification): add google site verification token
  _layout/default.html
  googlea102efdee3bd2034.html
  src/index.html
Due: prettier --write

config(sonar): add sonar local configuration
  .gitignore
  jest-config/jest.config.js
  sonar-project.properties
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

chore(doc): update readme
  README.md
  src/app/shared/forms/interfaces/types.ts
Due: prettier --write, tslint --fix

chore(form): minor updates
  README.md
  src/app/demo/components/product-form-container/product-form-container.component.html
  src/app/demo/components/product-form-container/product-form-container.component.ts
  src/app/shared/forms/components/form-control-field/form-control-field.component.html
  src/app/shared/forms/helpers/form-helpers.ts
Due: prettier --write, tslint --fix

chore(readme): update readme
  README.md
Due: prettier --write

refactor(forms): minor updates
  angular.json
  src/app/demo/components/product-form-container/product-form-container.component.ts
  src/app/demo/containers/forms-page/forms-page.component.ts
  src/app/shared/components/navbar/navbar.component.ts
  src/app/shared/forms/+store/forms.actions.ts
  src/app/shared/forms/classes/base-input.class.ts
  src/app/shared/forms/components/array/array.component.ts
  src/app/shared/forms/components/auto-complete/auto-complete.component.ts
  src/app/shared/forms/components/auto-complete/auto-complete.stories.ts
  src/app/shared/forms/components/checkbox-group/checkbox-group.component.ts
  src/app/shared/forms/components/checkbox-group/checkbox-group.stories.ts
  src/app/shared/forms/components/date-picker/date-picker.component.ts
  src/app/shared/forms/components/date-picker/date-picker.stories.ts
  src/app/shared/forms/components/form-container/form-content.component.html
  src/app/shared/forms/components/form-container/form-content.component.ts
  src/app/shared/forms/components/form-container/form-content.stories.ts
  src/app/shared/forms/components/form-control-field/form-control-field.component.html
  src/app/shared/forms/components/form-control-field/form-control-field.stories.ts
  src/app/shared/forms/components/form-control-group/form-control-group.stories.ts
  src/app/shared/forms/components/number/number.component.ts
  src/app/shared/forms/components/number/number.stories.ts
  src/app/shared/forms/components/radio-group/radio-group.component.ts
  src/app/shared/forms/components/radio-group/radio-group.stories.ts
  src/app/shared/forms/components/select/select.component.ts
  src/app/shared/forms/components/select/select.stories.ts
  src/app/shared/forms/components/text-area/text-area.component.ts
  src/app/shared/forms/components/text-area/text-area.stories.ts
  src/app/shared/forms/components/text-input/text-input.component.ts
  src/app/shared/forms/components/text-input/text-input.stories.ts
  src/app/shared/forms/directives/dynamic-field/dynamic-field.directive.ts
  src/app/shared/forms/forms.module.ts
  src/app/shared/forms/helpers/form-helpers.spec.ts
  src/app/shared/forms/helpers/form-helpers.ts
  src/app/shared/forms/interfaces/types.ts
  src/app/shared/forms/services/form-validators.service.ts
Due: prettier --write, tslint --fix

refactor(errors): add mock http debounce time & handle mock http error
  src/app/app.component.ts
  src/app/core/helpers/api-helpers.spec.ts
  src/app/core/helpers/api-helpers.ts
  src/app/core/interceptors/error/+store/error.facade.spec.ts
  src/app/core/interceptors/error/+store/error.facade.ts
  src/app/core/interceptors/error/helpers/error.helpers.spec.ts
  src/app/core/interceptors/error/helpers/error.helpers.ts
  src/app/core/interceptors/error/interfaces/custom-error.ts
  src/app/core/interceptors/error/services/error-interceptor.service.spec.ts
  src/app/core/interceptors/error/services/error-interceptor.service.ts
  src/app/core/services/api.service.spec.ts
  src/app/core/services/user/+store/user.effects.spec.ts
  src/app/core/services/user/+store/user.effects.ts
  src/app/shared/components/not-found/not-found.component.html
  src/app/shared/forms/components/auto-complete/auto-complete.component.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix

config(ie-support): add ie support configurations
  angular.json
  package.json
  src/browserslist
  src/polyfills.ts
  src/styles/base/_globals.scss
  src/tsconfig-es5.app.json
Due: prettier --write, tslint --fix
